<div class="container" ng-controller="FavoritesController as fav">
<div data-ng-init="fav.getFavorites()">
  <h1 class="text-center">Favorites</h1>
  <ul class="list-group list-inline">
    <li ng-repeat="gif in fav.gifsArray track by $index" class="list-group-item">
      <img class="image-responsive center" ng-src="{{ gif.url }}" />
      <p class="text-center">
        {{ gif.notes }}
      </p>
<form>
  <input type="text" value="{{gif.notes}}" ng-model="fav.notes"/>
  <button type="submit" ng-click="fav.updateFavorite($index)">Update</button>
</form>
<button ng-click="fav.deleteFavorite($index)">Delete</button>
    </li>
  </ul>
</div>
