
<h2>Favorites <span data-ng-init="main.getCount()">{{main.count}}</span></h2>
<form>
<input type="text" name="q" ng-model="main.searchPhrase.q"/>
<button type="submit" ng-click="main.getSearch()">Search</button>
</form>
<button ng-click="main.getRandom()" class="btn btn-primary">Random</button>


<ul>
  <li ng-repeat="gif in main.gifsArray" class="list-item col-md-4">
    <img ng-src="{{ gif.images.original.url }}" />
    <img ng-src="{{ gif.image_original_url }}" />
    <form>
      <input type="text-area" name="notes" ng-model="main.notes"/>
      <button type="submit" ng-click="main.postFavorite($index)">Favorite</button>
    </form>
  </li>
</ul>
